In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
buses = pd.read_csv('datasets/buses.csv')
demo = pd.read_csv('datasets/demographics.csv')
ridership = pd.read_csv('datasets/ridership.csv')
routes = pd.read_csv('datasets/routes.csv')

In [3]:
buses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BusID      40 non-null     int64
 1   RouteID    40 non-null     int64
 2   BusNumber  40 non-null     object
 3   Capacity   40 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.4+ KB

In [8]:
buses['Capacity'].describe()

count    40.000000
mean     43.750000
std      10.047962
min      30.000000
25%      40.000000
50%      40.000000
75%      50.000000
max      60.000000
Name: Capacity, dtype: float64

In [5]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RiderID     100 non-null    int64
 1   Age         100 non-null    int64
 2   Gender      100 non-null    object
 3   Occupation  100 non-null    object
dtypes: int64(2), object(2)
memory usage: 3.3+ KB

In [10]:
demo['Age'].describe()

count    100.000000
mean      42.690000
std       15.007537
min       16.000000
25%       31.750000
50%       42.000000
75%       55.000000
max       70.000000
Name: Age, dtype: float64

In [6]:
ridership.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RecordID        200 non-null    int64
 1   BusID           200 non-null    int64
 2   Date            200 non-null    object
 3   Time            200 non-null    object
 4   NumberOfRiders  200 non-null    int64
 5   RiderID         200 non-null    int64
dtypes: int64(4), object(2)
memory usage: 9.5+ KB

In [12]:
ridership['NumberOfRiders'].describe()

count    200.000000
mean      32.935000
std       10.678997
min       15.000000
25%       25.000000
50%       31.000000
75%       40.000000
max       60.000000
Name: NumberOfRiders, dtype: float64

In [13]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RouteID        10 non-null     int64
 1   RouteName      10 non-null     object
 2   StartLocation  10 non-null     object
 3   EndLocation    10 non-null     object
 4   TripFee        10 non-null     int64
 5   TakeOffTime    10 non-null     object
 6   ArrivalTime    10 non-null     object
dtypes: int64(2), object(5)
memory usage: 692.0+ bytes

In [15]:
routes['TripFee'].describe()

count    10.000000
mean     26.800000
std      11.321563
min      13.000000
25%      19.000000
50%      24.000000
75%      32.500000
max      50.000000
Name: TripFee, dtype: float64

In [18]:
ridership['Date']= pd.to_datetime(ridership['Date'])

In [20]:
ridership['Time']= pd.to_datetime(ridership['Time'])

C:\Users\fg_DELL\AppData\Local\Temp\ipykernel_5936\2965914418.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ridership['Time']= pd.to_datetime(ridership['Time'])

In [25]:
ridership['Time'] = ridership['Time'].dt.time

In [31]:
routes['TakeOffTime']= pd.to_datetime(routes['TakeOffTime'])
routes['ArrivalTime']= pd.to_datetime(routes['ArrivalTime'])

C:\Users\fg_DELL\AppData\Local\Temp\ipykernel_5936\2733156114.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  routes['ArrivalTime']= pd.to_datetime(routes['ArrivalTime'])

In [32]:
routes['TakeOffTime'] = routes['TakeOffTime'].dt.time
routes['ArrivalTime'] = routes['ArrivalTime'].dt.time

In [35]:
buses.isna().sum()

BusID        0
RouteID      0
BusNumber    0
Capacity     0
dtype: int64

In [36]:
routes.isna().sum()

RouteID          0
RouteName        0
StartLocation    0
EndLocation      0
TripFee          0
TakeOffTime      0
ArrivalTime      0
dtype: int64

In [37]:
demo.isna().sum()

RiderID       0
Age           0
Gender        0
Occupation    0
dtype: int64

In [38]:
ridership.isna().sum()

RecordID          0
BusID             0
Date              0
Time              0
NumberOfRiders    0
RiderID           0
dtype: int64

In [39]:
buses.duplicated(subset=["BusID"]).sum()

0

In [41]:
routes.duplicated(subset=["RouteID"]).sum()

0

In [42]:
routes.duplicated(subset=["RouteID"]).sum()

0

In [43]:
ridership.duplicated(subset=["RecordID"]).sum()

0

# Analysing Data

In [44]:
# How many buses are there?

len(buses)

40

In [46]:
# What is the average capacity of the buses?

buses['Capacity'].mean().round()

44.0

In [50]:
# Which bus has the highest capacity?

buses.loc[buses['Capacity'].idxmax()]

BusID            2
RouteID          1
BusNumber    Bus 2
Capacity        60
Name: 1, dtype: object

In [51]:
# How many unique routes do the buses cover?

buses['RouteID'].nunique()

10

In [52]:
j1 = buses.merge(routes ,how ='inner' , on='RouteID')

In [54]:
j1['RouteName'].unique()

array(['University Line', 'Central Line', 'East-West Express',
       'Suburban Line', 'Market Line', 'Airport Express',
       'North Circular', 'Beachfront Route', 'City Shuttle', 'South Line'],
      dtype=object)

In [57]:
# What is the distribution of bus numbers?

buses['BusNumber'].value_counts()

BusNumber
Bus 1     1
Bus 2     1
Bus 23    1
Bus 24    1
Bus 25    1
Bus 26    1
Bus 27    1
Bus 28    1
Bus 29    1
Bus 30    1
Bus 31    1
Bus 32    1
Bus 33    1
Bus 34    1
Bus 35    1
Bus 36    1
Bus 37    1
Bus 38    1
Bus 39    1
Bus 22    1
Bus 21    1
Bus 20    1
Bus 10    1
Bus 3     1
Bus 4     1
Bus 5     1
Bus 6     1
Bus 7     1
Bus 8     1
Bus 9     1
Bus 11    1
Bus 19    1
Bus 12    1
Bus 13    1
Bus 14    1
Bus 15    1
Bus 16    1
Bus 17    1
Bus 18    1
Bus 40    1
Name: count, dtype: int64

In [60]:
# How many buses are assigned to each route?

j1['RouteName'].value_counts()

RouteName
East-West Express    8
Central Line         7
University Line      6
Suburban Line        4
Market Line          4
Airport Express      3
Beachfront Route     3
North Circular       2
City Shuttle         2
South Line           1
Name: count, dtype: int64

In [62]:
# What is the average age of the riders?

demo['Age'].mean().round()

43.0

In [67]:
# What is the gender distribution among the riders?

demo.groupby('Gender').agg({'RiderID' : 'count'}).sort_values( by = 'RiderID' , ascending = False)

        RiderID
Gender
Female       35
Male         33
Other        32

In [68]:
# What are the common occupations of the riders?

demo.groupby('Occupation').agg({'RiderID' : 'count'}).sort_values( by = 'RiderID' , ascending = False)

               RiderID
Occupation
Other               25
Professional        24
Self-Employed       20
Unemployed          15
Retired              8
Student              8

In [74]:
demo.groupby('Occupation').agg({'RiderID' : 'count'}).sort_values( by = 'RiderID' , ascending = False).idxmax()

RiderID    Other
dtype: object

In [77]:
demo['Occupation'].mode()

0    Other
Name: Occupation, dtype: object

In [70]:
#Age group
demo.loc[demo['Age']<=19, 'Age_group'] = 'teenage'
demo.loc[demo['Age'].between(20,24), 'Age_group'] = 'yadult'
demo.loc[demo['Age'].between(25,39), 'Age_group'] = 'adult'
demo.loc[demo['Age']>39, 'Age_group'] = 'older_adult'

In [71]:
demo

    RiderID  Age  Gender     Occupation    Age_group
0         1   27   Other  Self-Employed        adult
1         2   39  Female  Self-Employed        adult
2         3   48  Female   Professional  older_adult
3         4   34    Male          Other        adult
4         5   33  Female  Self-Employed        adult
..      ...  ...     ...            ...          ...
95       96   37    Male  Self-Employed        adult
96       97   53  Female          Other  older_adult
97       98   19   Other          Other      teenage
98       99   61    Male  Self-Employed  older_adult
99      100   54  Female     Unemployed  older_adult

[100 rows x 5 columns]

In [73]:
# How many riders are there in each age group?

demo.groupby('Age_group').agg({'RiderID' : 'count'}).sort_values( by = 'RiderID' , ascending = False)

             RiderID
Age_group
older_adult       57
adult             29
teenage            8
yadult             6

In [79]:
# What is the average number of riders per bus?

j2 = demo.merge(ridership ,how ='inner' , on='RiderID')

In [81]:
j3 = j2.merge(buses ,how ='inner' , on='BusID')

In [86]:
j3.groupby('BusNumber')['NumberOfRiders'].mean().round()

BusNumber
Bus 1     32.0
Bus 10    29.0
Bus 11    34.0
Bus 12    37.0
Bus 13    30.0
Bus 14    24.0
Bus 15    37.0
Bus 16    32.0
Bus 17    35.0
Bus 18    29.0
Bus 19    34.0
Bus 2     30.0
Bus 20    40.0
Bus 21    38.0
Bus 22    34.0
Bus 23    30.0
Bus 24    43.0
Bus 25    28.0
Bus 26    28.0
Bus 27    37.0
Bus 28    33.0
Bus 29    32.0
Bus 3     36.0
Bus 30    31.0
Bus 31    33.0
Bus 32    49.0
Bus 33    34.0
Bus 34    35.0
Bus 35    30.0
Bus 36    41.0
Bus 37    27.0
Bus 38    33.0
Bus 39    28.0
Bus 4     29.0
Bus 40    37.0
Bus 5     36.0
Bus 6     32.0
Bus 7     33.0
Bus 8     36.0
Bus 9     29.0
Name: NumberOfRiders, dtype: float64

In [87]:
# What is the average number of riders per trip?

ridership['NumberOfRiders'].mean().round()

33.0

In [89]:
# What is the busiest date for ridership?

ridership.loc[ridership['NumberOfRiders'].idxmax()]['Date']

Timestamp('2023-12-07 00:00:00')

In [90]:
# What is the busiest time for ridership?

ridership.loc[ridership['NumberOfRiders'].idxmax()]['Time']

datetime.time(12, 56)

In [91]:
# How many riders are associated with each bus?

j4 = buses.merge(ridership ,how ='inner' , on='BusID')

In [96]:
j4.groupby('BusNumber').agg({'NumberOfRiders' : 'sum'}).sort_values( by = 'NumberOfRiders' , ascending = False)

           NumberOfRiders
BusNumber
Bus 4                 324
Bus 28                295
Bus 27                293
Bus 21                264
Bus 38                263
Bus 10                262
Bus 20                242
Bus 33                239
Bus 37                216
Bus 3                 216
Bus 18                205
Bus 7                 200
Bus 25                197
Bus 30                185
Bus 17                176
Bus 9                 173
Bus 22                169
Bus 31                164
Bus 2                 150
Bus 12                149
Bus 32                148
Bus 8                 144
Bus 11                134
Bus 16                130
Bus 1                 129
Bus 6                 128
Bus 24                128
Bus 29                127
Bus 36                123
Bus 35                120
Bus 23                118
Bus 15                110
Bus 40                110
Bus 5                 107
Bus 34                105
Bus 13                 89
Bus 14                 72
Bus 19                 69
Bus 39                 57
Bus 26                 57

In [99]:
# How many unique routes are there?
routes['RouteID'].nunique()

10

In [101]:
# What are the most common start and end locations for routes?

routes['StartLocation'].value_counts()

StartLocation
Downtown          1
Eastside          1
North Station     1
South Park        1
City Center       1
Airport           1
University        1
Central Market    1
Beachside         1
Suburbia          1
Name: count, dtype: int64

In [102]:
routes['EndLocation'].value_counts()

EndLocation
Downtown          2
Uptown            1
Westside          1
Circular Quay     1
Old Town          1
City Hall         1
Tech Park         1
Farmers Market    1
Harbor Point      1
Name: count, dtype: int64

In [104]:
# What is the average trip fee for all routes?

routes['TripFee'].mean().round()

27.0

In [116]:
# What is the average take-off and arrival time for all routes?

In [107]:
routes['TakeOffTime_seconds'] = routes['TakeOffTime'].apply(lambda x: x.hour * 3600 + x.minute * 60 + x.second)

In [109]:
routes['ArrivalTime_seconds'] = routes['ArrivalTime'].apply(lambda x: x.hour * 3600 + x.minute * 60 + x.second)

In [142]:
pd.to_datetime(routes['TakeOffTime'] , format='%H:%M:%S').mean()

Timestamp('1900-01-01 15:12:00')

In [143]:
pd.to_datetime(routes['ArrivalTime'] , format='%H:%M:%S').mean()

Timestamp('1900-01-01 14:42:00')

In [117]:
# Which route has the highest trip fee?

routes.loc[routes['TripFee'].idxmax()]

RouteID                           1
RouteName              Central Line
StartLocation              Downtown
EndLocation                  Uptown
TripFee                          50
TakeOffTime                16:00:00
ArrivalTime                18:30:00
TakeOffTime_seconds           57600
ArrivalTime_seconds           66600
Name: 0, dtype: object

In [122]:
# How many buses are assigned to each route?

j1.groupby('RouteName')['BusID'].count()

RouteName
Airport Express      3
Beachfront Route     3
Central Line         7
City Shuttle         2
East-West Express    8
Market Line          4
North Circular       2
South Line           1
Suburban Line        4
University Line      6
Name: BusID, dtype: int64

In [136]:
# What is the average duration of each route?
routes['Duration'] = (pd.to_datetime(routes['ArrivalTime'] , format='%H:%M:%S') - pd.to_datetime(routes['TakeOffTime'] , format='%H:%M:%S')).dt.total_seconds() / 3600

In [176]:
routes['Duration'] = abs(routes['Duration'])

In [177]:
routes

,RouteID,RouteName,StartLocation,EndLocation,TripFee,TakeOffTime,ArrivalTime,TakeOffTime_seconds,ArrivalTime_seconds,Duration
0,1,Central Line,Downtown,Uptown,50,16:00:00,18:30:00,57600,66600,2.5
1,2,East-West Express,Eastside,Westside,13,22:00:00,12:30:00,79200,45000,9.5
2,3,North Circular,North Station,Circular Quay,31,18:00:00,16:30:00,64800,59400,1.5
3,4,South Line,South Park,Old Town,29,08:00:00,22:30:00,28800,81000,14.5
4,5,City Shuttle,City Center,City Hall,19,14:00:00,20:30:00,50400,73800,6.5
5,6,Airport Express,Airport,Downtown,37,14:00:00,08:30:00,50400,30600,5.5
6,7,University Line,University,Tech Park,19,14:00:00,08:30:00,50400,30600,5.5
7,8,Market Line,Central Market,Farmers Market,18,22:00:00,16:30:00,79200,59400,5.5
8,9,Beachfront Route,Beachside,Harbor Point,19,10:00:00,12:30:00,36000,45000,2.5
9,10,Suburban Line,Suburbia,Downtown,33,14:00:00,10:30:00,50400,37800,3.5

In [179]:
routes['Duration'].mean().round()

6.0

In [182]:
# How does ridership vary by day of the week?
ridership.groupby(pd.to_datetime(ridership['Date']).dt.day_name())['NumberOfRiders'].sum()

Date
Friday        762
Monday       1085
Saturday      796
Sunday       1185
Thursday      889
Tuesday       983
Wednesday     887
Name: NumberOfRiders, dtype: int64

In [185]:
# What is the peak time for ridership during the day?

ridership.groupby('Time')['NumberOfRiders'].sum().idxmax()

datetime.time(20, 57)

In [186]:
# Is there a pattern in the number of riders based on the month?

ridership.groupby(pd.to_datetime(ridership['Date']).dt.month)['NumberOfRiders'].sum()

Date
1      933
12    5654
Name: NumberOfRiders, dtype: int64

In [191]:
# Number Of Riders during weekend?

ridership[ridership['Date'].dt.dayofweek.isin([5, 6])]['NumberOfRiders'].sum()

1981

In [198]:
# Calculate the percentage of riders in each age group.

(  demo['Age_group'].value_counts() / len(demo) ) * 100

Age_group
older_adult    57.0
adult          29.0
teenage         8.0
yadult          6.0
Name: count, dtype: float64

In [200]:
# What is the average age for male and female riders?

demo.groupby('Gender')['Age'].mean().round()

Gender
Female    46.0
Male      43.0
Other     39.0
Name: Age, dtype: float64

In [201]:
# How many average riders during different times of the day?

ridership.groupby('Time')['NumberOfRiders'].mean().round()

Time
06:08:00    30.0
06:25:00    47.0
06:33:00    42.0
06:34:00    26.0
06:47:00    39.0
            ...
23:41:00    43.0
23:45:00    45.0
23:46:00    32.0
23:48:00    59.0
23:57:00    32.0
Name: NumberOfRiders, Length: 183, dtype: float64

In [204]:
# Calculate the average number of riders for each day of the week.

ridership.groupby(pd.to_datetime(ridership['Date']).dt.day_name())['NumberOfRiders'].mean().round()

Date
Friday       32.0
Monday       35.0
Saturday     35.0
Sunday       32.0
Thursday     31.0
Tuesday      34.0
Wednesday    33.0
Name: NumberOfRiders, dtype: float64

In [213]:
# What is the average number of riders per month?

ridership.groupby(pd.to_datetime(ridership['Date']).dt.month_name())['NumberOfRiders'].mean().round()

Date
December    33.0
January     33.0
Name: NumberOfRiders, dtype: float64

In [220]:
# Calculate the total ridership for each route.

j4.groupby('RouteID')['NumberOfRiders'].sum()

RouteID
1     1271
2     1322
3      206
4      185
5      509
6      754
7      741
8      609
9      331
10     659
Name: NumberOfRiders, dtype: int64

In [217]:
j5 = buses.merge(routes ,how ='inner' , on='RouteID')

In [218]:
# Calculate the revenue generated by each route.

routes.groupby('RouteName')['TripFee'].sum()

RouteName
Airport Express      37
Beachfront Route     19
Central Line         50
City Shuttle         19
East-West Express    13
Market Line          18
North Circular       31
South Line           29
Suburban Line        33
University Line      19
Name: TripFee, dtype: int64

In [222]:
# What is the average trip fee for male and female riders?

j6 = j3.merge(routes ,how ='inner' , on='RouteID')

In [225]:
j6.groupby('Gender')['TripFee'].mean().round()

Gender
Female    28.0
Male      30.0
Other     27.0
Name: TripFee, dtype: float64

In [226]:
# Analyze the distribution of routes based on start and end locations.

routes.groupby('StartLocation')['RouteID'].count()

StartLocation
Airport           1
Beachside         1
Central Market    1
City Center       1
Downtown          1
Eastside          1
North Station     1
South Park        1
Suburbia          1
University        1
Name: RouteID, dtype: int64

In [227]:
routes.groupby('EndLocation')['RouteID'].count()

EndLocation
Circular Quay     1
City Hall         1
Downtown          2
Farmers Market    1
Harbor Point      1
Old Town          1
Tech Park         1
Uptown            1
Westside          1
Name: RouteID, dtype: int64

In [230]:
# Calculate the number of buses assigned to each route.

j1.groupby('RouteName')['BusID'].count()

RouteName
Airport Express      3
Beachfront Route     3
Central Line         7
City Shuttle         2
East-West Express    8
Market Line          4
North Circular       2
South Line           1
Suburban Line        4
University Line      6
Name: BusID, dtype: int64

In [233]:
# How the occupation of riders varies across different routes.

j6.groupby(['Occupation' , 'RouteName'])['RouteID'].count()

Occupation     RouteName
Other          Airport Express       8
               Beachfront Route      4
               Central Line         13
               City Shuttle          5
               East-West Express     8
               Market Line           2
               North Circular        2
               South Line            2
               Suburban Line         2
               University Line       4
Professional   Airport Express       9
               Beachfront Route      1
               Central Line         11
               City Shuttle          3
               East-West Express     4
               Market Line           4
               North Circular        1
               South Line            1
               Suburban Line         6
               University Line       8
Retired        Airport Express       1
               Central Line          2
               East-West Express     6
               Market Line           1
               South Line            1
               Suburban Line         3
               University Line       2
Self-Employed  Airport Express       6
               Beachfront Route      2
               Central Line          6
               City Shuttle          3
               East-West Express     7
               Market Line           6
               North Circular        1
               South Line            1
               Suburban Line         4
               University Line       4
Student        Beachfront Route      2
               Central Line          2
               City Shuttle          2
               East-West Express     4
               Market Line           2
               North Circular        1
               South Line            1
               Suburban Line         2
Unemployed     Airport Express       1
               Beachfront Route      2
               Central Line          6
               City Shuttle          3
               East-West Express     9
               Market Line           2
               North Circular        1
               Suburban Line         2
               University Line       4
Name: RouteID, dtype: int64

In [242]:
# Average number of riders during morning and evening hours.

ridership[(  pd.to_datetime(ridership['Time'] , format='%H:%M:%S') >= '06:00:00'  ) & 
          (  pd.to_datetime(ridership['Time'] , format='%H:%M:%S') < '12:00:00')]['NumberOfRiders'].mean()

nan

In [243]:
ridership[(  pd.to_datetime(ridership['Time'] , format='%H:%M:%S') >= '16:00:00'  ) & 
          (  pd.to_datetime(ridership['Time'] , format='%H:%M:%S') < '22:00:00')]['NumberOfRiders'].mean()

nan

In [247]:
# Calculate the average trip fee per rider.

j6.groupby('RiderID')['TripFee'].mean()

RiderID
1      28.0
2      16.0
3      37.0
4      22.0
5      34.5
       ...
96     28.0
97     23.5
98     16.0
99     35.0
100    50.0
Name: TripFee, Length: 100, dtype: float64

In [249]:
# Total number of trips recorded.

ridership['RecordID'].count()

200

In [250]:
len(ridership)

200

In [257]:
# Calculate the percentage change in ridership from month to month.

x= ridership.groupby(pd.to_datetime(ridership['Date']).dt.month)['NumberOfRiders'].sum()

In [258]:
x.pct_change()

Date
1          NaN
12    5.060021
Name: NumberOfRiders, dtype: float64

In [265]:
# Identify any seasonality trends in ridership over the year.
ridership.groupby(pd.to_datetime(ridership['Date']).dt.quarter)['NumberOfRiders'].mean().round()

Date
1    33.0
4    33.0
Name: NumberOfRiders, dtype: float64

In [266]:
# Calculate the percentage change in ridership from month to month for each route.

ridership.groupby(['BusID', pd.to_datetime(ridership['Date']).dt.month])['NumberOfRiders'].pct_change()

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
195    0.034483
196    0.181818
197    0.095238
198   -0.083333
199    0.394737
Name: NumberOfRiders, Length: 200, dtype: float64

In [268]:
# Calculate the average ridership per route per day.

ridership.groupby(['BusID', pd.to_datetime(ridership['Date']).dt.date])['NumberOfRiders'].mean()

BusID  Date
1      2023-12-11    45.0
       2023-12-14    27.0
       2023-12-15    30.0
2      2023-12-28    19.0
       2023-12-29    22.5
                     ...
39     2023-12-13    27.0
       2023-12-20    30.0
40     2023-12-15    32.0
       2023-12-17    38.0
       2023-12-31    40.0
Name: NumberOfRiders, Length: 184, dtype: float64

In [269]:
# The trend in ridership over different months and years.

ridership.groupby([pd.to_datetime(ridership['Date']).dt.year, pd.to_datetime(ridership['Date']).dt.month])['NumberOfRiders'].mean()

Date  Date
2023  12      32.872093
2024  1       33.321429
Name: NumberOfRiders, dtype: float64